.Dash-header {
  background-color: rgba(20, 20, 20, 1);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  z-index: 10;
  width: 100%;
}

.Dash-container {
	justify-self: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: row;
	overflow: hidden;
}

.Dash-main {
	height: 100%;
	width: 100%;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	background: #202020;
	overflow-y: auto;
}

.Dash-login {
	padding: 10px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	position: absolute;
	right: 5px;
}

.Dash-info {
	width: 90%;
}

.Dash-sidebar {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	z-index: 9;
	width: 0;
	transition: .25s;
}

.Dash-sidebar.open {
	width: 30%;
}

.Dash-sideLink {
	background: #333;
	margin-bottom: 5px;
	width: 100%;
	display: flex;
	align-items: center;
}

.Dash-sideLink:hover {
	background: #555;
    text-decoration: none;
}

.Dash-sideLink.active {
	background: #555;
}

.Dash-sideLink img {
	width: 32px;
	height: 32px;
	margin: 5px;
	border-radius: 50%;
}

.Dash-sideLink span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	max-width: 80%;
}

#saved-colors {
	width: 90%;
}

.Dash-savedColor {
	display: flex;
	flex-wrap: nowrap;
	border-radius: 2px;
	background: #444;
	margin-bottom: 5px;
}

.Dash-savedColor > * {
	margin: 5px;
}

.Dash-savedColor button {
	border: none;
	box-shadow: none;
	background: #111;
	color: white;
	padding: 5px;
	border-radius: 3px;
}

.Dash-savedColor button:hover {
	background: #222;
}

.Dash-savedColor input[type="text"] {
	border: none;
	box-shadow: none;
	background: #222;
	color: white;
	padding: 5px;
	border-radius: 3px;
}

@media (max-width: 500px) {
  .Dash-header {
    flex-direction: column;
    align-items: center;
  }

  .Dash-sidebar {
  	max-width: 100%;
  }

  .Dash-sidebar.open {
  	width: 100%;
  }
}